/*Общие правила и классы*/
@font-face {
  font-family: "Oswald";
  src: url(../fonts/Oswald-Regular.ttf) format('ttf');
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  line-height: 20px;
  font-family: "Arial", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  line-height: 34px;
  font-size: 34px;
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  background-color: #ffffff;
}

.button {
  margin: 20px;
  padding: 15px 20px;
  background: #970101;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: #ce0000;
}

.button:active {
  opacity: 0.5;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.logo-title span,
.page-footer__logo span {
  font-weight: 700;
}

.logo--tablet {
  display: none;
}

.logo--tablet img:focus,
.logo--tablet img:hover {
  opacity: 0.6;
}

.logo--tablet img:active {
  opacity: 0.4;
}

/*-----------------------------------------*/
/*----------Шапка-----------*/
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo-title {
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
}

.main-nav__toggle {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.main-nav__toggle:hover,
.main-nav__toggle:active {
  background-color: rgba(153, 153, 153, 0.3);
}

.toggle--opened::before {
  content: "";
  position: absolute;
  top: 15px;
  right: 8px;
  width: 30px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}

.toggle--closed {
  top: 0;
  right: auto;
  left: 0;
}

.toggle--closed::before,
.toggle--closed::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 18px;
  width: 30px;
  height: 2px;
  background-color: #000000;
}

.toggle--closed::before {
  transform: rotate(45deg);
  box-shadow: none;
}

.toggle--closed::after {
  transform: rotate(-45deg);
}

.toggle--closed:active::before,
.toggle--closed:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

.main-nav__list:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.main-nav__list .site-list__item {
  padding: 20px;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.main-nav__list .site-list__item a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.main-nav__list .site-list__item a:not([href]) {
  cursor: default;
  border-bottom: 2px solid #68b738;
}

.main-nav__list .site-list__item:hover a[href],
.main-nav__list .site-list__item:focus a[href] {
  opacity: 0.5;
}

.main-nav__list .site-list__item:active a[href] {
  opacity: 0.3;
}

/*------------------------------------*/
.horse1 {
  position: relative;
  text-align: center;
}

.horse1__title {
  max-width: 370px;
  margin: 0 auto;
  padding: 25px 0;
  background-color: transparent;
}

.horse1__title,
.horse1__sentense {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.horse1__sentense {
  margin: 0;
  font-size: 15px;
}

.horse1__kotik {
  position: absolute;
  top: 0;
  width: 100%;
  height: 306px;
  background: url("../images/index-background-mobile.jpg") no-repeat 50%;
  z-index: -1;
  border-radius: 3px;
}

.horse1__image {
  position: absolute;
  top: 150px;
  width: 100%;
  height: 700px;
  margin-top: 40px;
  background: url("../images/horse1-mobile.png") no-repeat 50% 0;
}

.horse1__program {
  margin-top: 360px;
  margin-bottom: 50px;
  font-size: 17px;
  flex-grow: 1;
}

.variants {
  position: relative;
  border-top: 3px solid #790101;
}

.variants__title {
  position: absolute;
  top: -50px;
  padding: 0 20px;
}

.variants__list {
  list-style: none;
  padding: 20px;
}

.variants__item {
  min-height: 400px;
  position: relative;
  margin-top: 20px;
  padding: 20px;
  background-color: #790101;
  color: #ffffff;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgb(168, 164, 164);
}

.variants__item::after {
  content: "";
  position: absolute;
  left: 5px;
  bottom: -30px;
  width: 270px;
  height: 3px;
  background-color: #790101;
}

.variants__sentense {
  margin: 30px 0 45px;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
}

.item__title {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 23px;
  text-transform: uppercase;
}

.horseIconBig img {
  width: 200px;
}

.horseIconBig1 {
  transform: scale(-1, 1);
}

.stats {
  position: relative;
  margin-top: 60px;
  padding: 60px 20px 0;
  border-top: 3px solid #790101;
  border-bottom: 3px solid #790101;
}

.stats__title {
  position: absolute;
  top: -18px;
  left: 0;
  margin: 0;
  padding: 0 20px;
}

.stats__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.stats__item {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #ffc8c88f;
  border: 3px solid #960000;
  border-radius: 10px;
}

.stats__image {
  display: block;
  height: 120px;
  margin: 0 auto;
}

.stats__description {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
}

.example__wrapper {
  padding: 0 20px;
}

.example__sentense {
  font-family: "Oswald", sans-serif;
  font-size: 19px;
}

.example__results {
  display: flex;
  justify-content: space-around;
}

.example__weight,
.example__days {
  position: relative;
}

.example__weight::after {
  content: "Вес";
  position: absolute;
  margin-top: -35px;
  margin-left: 40px;
  padding: 0 10px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  background-color: #ffffff;
}

.example__days::after {
  content: "Возраст";
  position: absolute;
  margin-top: -35px;
  margin-left: 40px;
  padding: 0 3px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  background-color: #ffffff;
}

.example__weight__amount,
.example__days__amount {
  width: 124px;
  padding: 15px 0;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  border: 2px solid #790101;;
  border-radius: 3px;
  font-family: 'Oswald', sans-serif;
}

.example__money {
  margin-bottom: 40px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.example__money br {
  display: none;
}

.example__wrapper__horse img {
  width: 316px;
  border: 2px solid #790101;
  border-radius: 10px;
}

.example .example__toggle {
  display: block;
  margin-top: -7px;
  padding: 15px;
  padding-bottom: 20px;
  border: 2px outset #790101;
  border-radius: 5px;
  box-shadow: 0 10px 38px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-size: cover;
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  text-align: center;
}

.catimage1 {
  background: url("../images/before-mobile.png") no-repeat;
  background-position: 50% 0;
  height: 232px;
  margin: 0;
}

.map__title {
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 0 20px;
}

.map-container {
  margin-top: 0;
  box-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.2);
}

.address-container {
  display: flex;
  justify-content: space-around;
  padding: 6px 20px;
  background-color: #f2f2f2;
}

.address-container__cooperation {
  min-width: 133px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  font-weight: 550;
}

.page-footer__logo img {
  width: 318px;
  margin-top: 20px;
}

.footer_developers {
  display: block;
  text-align: center;
}

/*------------Стили для планшета--------------*/
@media (min-width: 768px) {
  .title {
    font-size: 60px;
    line-height: 60px;
  }

  .header__wrapper {
    display: none;
  }

  .logo--tablet {
    display: block;
    flex-grow: 1;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-evenly;
    padding: 30px 50px;
    padding-left: 120px;
  }

  .main-nav__list:last-child {
    border-bottom: none;
  }

  .main-nav__list .site-list__item {
    padding: 20px;
    border: none;
  }

  .main-nav__list .site-list__item a {
    font-size: 18px;
    font-weight: normal;
  }

  .horse1 {
    padding-bottom: 60px;
  }

  .horse1__title,
  .horse1__sentense,
  .button-wrapper {
    padding-left: 120px;
  }

  .horse1__title {
    max-width: none;
    color: black;
    text-align: left;
    padding-top: 0;
    padding-bottom: 40px;
  }

  .horse1__sentense {
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    text-align: left;
  }

  .button-wrapper {
    position: relative;
    display: block;
    margin-top: 60px;
    z-index: 2;
    text-align: left;
  }

  .horse1__program {
    margin: 0;
    padding: 15px 40px;
  }

  .horse1__kotik {
    display: none;
  }

  .horse1__image {
    position: relative;
    width: 100%;
    top: 0;
    background-image: url("../images/horse1-tablet.jpg");
    margin-top: -60px;
    z-index: -1;
    text-align: center;
  }

  .horseIconBig img {
    display: block;
    width: 300px;
    margin: 0 auto;
  }

  .variants__item {
    margin-top: 30px;
  }

  .variants__item::after {
    display: none;
  }

  .item__title {
    font-size: 36px;
    font-weight: 500;
    margin: 0;
    margin-top: 80px;
  }

  .variants__sentense {
    font-family: 'Oswald', sans-serif;
    font-size: 21px;
  }

  .stats {
    padding: 50px 20px;
    margin-bottom: 100px;
  }

  .stats__title {
    top: -40px;
    margin: 0;
  }

  .stats__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 210px;
    height: 300px;
    font-size: 20px;
    margin-top: 20px;
    margin-right: 20px;
  }

  .example {
    border-top: 1px solid rgba(192, 192, 192, 0.3);
  }

  .example .example__wrapper {
    padding: 0 30px;
  }

  .example .example__title {
    margin-top: 50px;
    margin-bottom: 70px;
  }

  .example .example__sentense {
    font-size: 20px;
    line-height: 25px;
  }

  .example .resultsforsomeshit {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .example .example__weight__amount,
  .example .example__days__amount {
    font-size: 30px;
    padding: 20px 25px;
  }

  .example .example__days__amount {
    margin-left: 43px;
  }

  .example .example__weight::after {
    margin-top: -40px;
    margin-left: 60px;
    font-size: 20px;
  }

  .example .example__days::after {
    margin-top: -40px;
    margin-left: 100px;
    font-size: 20px;
  }

  .example .example__money {
    margin: 0;
    font-size: 20px;
    text-align: right;
    line-height: 20px;
  }

  .example .example__money br {
    display: block;
  }

  .example__wrapper__horse img {
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
  }

  .address-container {
    justify-content: space-between;
    padding: 0 50px;
  }

  .address-container__cooperation {
    font-size: 20px;
    line-height: 25px;
  }

  .address-container__adress {
    font-size: 16px;
  }

  .page-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 30px;
  }

  .page-footer__logo {
    margin: 0;
    vertical-align: middle;
  }
}

/*-----------Стили для полноценного компа-----------*/
@media (min-width: 1440px) {
  .main-nav__list .site-list__item {
    color: #ffffff;
  }

  .main-nav__list .site-list__item a:not([href]) {
    border-bottom: 2px solid #ffffff;
  }

  .horse1 {
    margin-bottom: 520px;
  }

  .horse1 .horse1__title {
    z-index: 4;
  }

  .kotik-container {
    display: flex;
    justify-content: right;
  }

  .horse1__kotik {
    display: block;
    width: 720px;
    height: 696px;
    top: -146px;
    right: 0;
    background-image: url("../images/index-background-desktop.jpg");
    z-index: -2;
  }

  .horse1__image {
    position: absolute;
    top: 60px;
    right: 300px;
    width: 552px;
    background-image: url("../images/horse1.png");
    z-index: -1;
  }

  .variants {
    padding: 80px 110px 200px;
  }

  .variants__title {
    top: -79px;
  }

  .variants__list {
    display: flex;
    justify-content: space-between;
  }

  .variants__item {
    width: 570px;
  }

  .stats {
    padding: 110px;
  }

  .stats__title {
    margin-top: 1px;
    margin-left: 110px;
  }

  .stats__list {
    justify-content: space-between;
  }

  .stats__item {
    width: 330px;
    height: 450px;
  }

  .stats__item img {
    width: 300px;
    height: auto;
  }

  .stats__description {
    font-size: 21px;
  }

  .example {
    display: flex;
    justify-content: space-between;
    padding-left: 110px;
    border-top: none;
  }

  .example .example__wrapper {
    max-width: 600px;
    padding: 0;
  }

  .example .example__sentense {
    margin-bottom: 20px;
  }

  .example .resultsforsomeshit {
    display: block;
  }

  .example .resultsforsomeshit .example__money {
    text-align: left;
    padding-top: 40px;
  }

  .example .resultsforsomeshit .example__money br {
    display: none;
  }

  .example__wrapper__horse img {
    width: 500px;
  }

  .map__title {
    padding: 0 110px;
  }

  .map-container {
    position: relative;
    margin: 0;
  }

  .address-container {
    position: absolute;
    top: 130px;
    left: 10px;
    width: 400px;
    padding: 0 20px;
    background-color: #ffffff;
    box-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.2);
  }
}